$font-stack: Montserrat, Arial, sans-serif;

$primary-black: rgba(0,0,0,.87);
$secondary-black: rgba(0,0,0,.57);
$primary-color: #0050A1;
$secondary-color: #37B24A;

h1, h2, h3, h4, h5, h6, p, a, li {
	font-family: $font-stack;
}

h1 {
	color: #FFFFFF;
	font-size: 37px;
	font-weight: 400;
	letter-spacing: 1px;
}

h2 {
	color: $primary-black;
	font-size: 28px;
	font-weight: 400; 
}

h3 {
	color: $primary-black;
	font-size: 21px;
	font-weight: 400; 
}

h5 {
	color: $primary-black;
	font-size: 12px;
	font-weight: 700; 
	text-transform: uppercase;	
	margin-bottom: 10px;
}

p {
	color: $secondary-black;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin: 0;
}

a {
	color: $primary-color;
	font-size: 12px;
	font-weight: 700;
	cursor: pointer;
} 