footer {

	padding: 50px 0;
	position: relative;

	p {
		font-size: 12px;
		margin: 0;
		display: inline-block;
	}

	a, p {
		margin-right: 20px;
		font-weight: 600;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	img {
		width: 50px;
		float: right;
		position: absolute;
		bottom: -10px;
		right: 0;
	}
}