@import 'font';
@import 'header';
@import 'footer';
$gray-bkg: #F4F4F4;

body {
	background-color: #FFFFFF;
}

ul {
	list-style: none;
	li {
		color: $secondary-black;
		line-height: 18px;
	}
}

.styled-list {
	list-style: disc;
	padding-left: 40px;	
}

form {
	input[type="submit"].button-primary {
		padding: 25px 30px;
		font-size: 16px;
		color: #FFFFFF;
		font-weight: 400;
		background-color: $secondary-color;
		margin-left: 20px;
		line-height: 0;
		text-transform: none;
		font-family: $font-stack;
		margin: 0;
		border: none;
		border-radius: 0;
		height: inherit;
	}

	input[type="submit"].button-primary:hover {
		background-color: $secondary-color;
		text-decoration: underline; 
	} 
}

article {
	padding-top: 50px;
	padding-bottom: 50px;	

	p {
		margin-bottom: 20px;
	}

	p:last-child {
		margin-bottom: 0;
	}	
}

section {
	padding-top: 50px;
	padding-bottom: 50px;

	h2 {
		text-align: center;
		margin-bottom: 50px;
	}

	h3 {

	}

	p {
				margin-bottom: 20px;
			}

			p:last-child {
				margin-bottom: 0;
			}


	.container {
		/* max-width: 780px; */
		margin: 0 auto;

		.twelve {
			margin-bottom: 40px;

			p {
				margin-bottom: 20px;
			}

			p:last-child {
				margin-bottom: 0;
			}

		}

	}


}

section:nth-child(even) {
	background-color: $gray-bkg;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.section-nav {
	list-style: none;
	
	a {
		text-decoration: none;	
		font-size: 16px;
	}
}

.card {
	padding: 30px;
	background-color: #ffffff;

	position: relative;
	bottom: 100px;
	min-height: 220px;

	img {
		width: 25%;
		float: left;
	}

	p {
		font-size: 12px;
	}

	a {
		margin-top: 20px;
		display: inline-block;
		text-transform: uppercase;

		img {
			width: 6px;
			display: inline-block;
			margin-left: 10px;
			float: none;
		}
	}

	.right {
		width: 66%;
	}

}

@media screen and (max-width: 550px) {
	.card {
		position: static;
	}

	.card:last-child {
		margin-bottom: 50px;
	}
}

.right {
	float: right;
}



.callout {
	width: 100%;
	background-color: $primary-color;
	padding: 40px 0;

	h3 {
		color: #FFFFFF;
		margin: 0;
	}

	a {
		padding: 15px 20px;
		font-size: 16px;
		color: #FFFFFF;
		font-weight: 400;
		background-color: $secondary-color;
		margin-left: 20px;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.center {
		padding: 20px 0;
		text-align: center;
		h3 {
			
			position: static;
			float: none;
			margin-bottom: 0;
		}

	}

	@media screen and (min-width: 1076px) {
		h3 {
			display: inline-block;
			margin: 0;
			position: relative;
			top: 14px;
			float: left;
		}	
		a {
			float: right;
			padding: 15px 20px;
			font-size: 16px;
			color: #FFFFFF;
			font-weight: 400;
			background-color: $secondary-color;
			margin-left: 20px;
			text-decoration: none;
		}
	}


	@media screen and (max-width: 1075px) {
		h3 {
			text-align: center;	
			position: static;
			float: none;
			display: block;
			margin: 0 0 20px 0;
		}

		a {
			display: table;
			margin: 0 auto;
			float: none;
		}		
	}
}



.cd-hero {
	position: relative;

	.left-fade {
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: linear-gradient(269deg, rgba(0,80,161,0.0) 0%, rgba(0,80,161,0.25) 18%, #0050A1 100%);
		z-index: 10;
	}

	.right-fade {
		position: absolute;
		width: 25%;
		height: 100%;
		top: 0;
		right: 0;
		background-image: linear-gradient(-269deg, rgba(0,80,161,0.0) 0%, rgba(0,80,161,0.10) 18%, #0050A1 100%);
	}

	.row {
		text-align: left;

		h2 {
			width: 100%;
			text-align: left;	
			max-width: none;
			font-size: 37px;
			text-shadow: 0px 0px 16px rgba(0,0,0,0.80);
		}

		@media screen and (max-width: 767px) {
			h2 {
				font-size: 27px;
			}
		}
		
	}
}












