h1, h2, h3, h4, h5, h6, p, a, li, label {
  font-family: Montserrat, Arial, sans-serif; }

h1 {
  color: #FFFFFF;
  font-size: 37px;
  font-weight: 400;
  letter-spacing: 1px; }

h2 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 28px;
  font-weight: 400; }

h3 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 21px;
  font-weight: 400; }

h5 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px; }

p {
  color: rgba(0, 0, 0, 0.57);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0; }

a {
  color: #0050A1;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer; }

label {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-weight: 400; }

header {
  width: 100%;
  background: #FFFFFF;
  position: relative; }
  header .utility-nav {
    background: #F4F4F4;
    padding: 5px 0 5px 0; }
    header .utility-nav a {
      float: right;
      color: rgba(0, 0, 0, 0.57); }
      header .utility-nav a img {
        width: 10px;
        display: inline-block;
        margin-right: 5px;
        position: relative;
        top: 2px; }
  header .logo {
    width: 120px;
    height: 120px;
    position: absolute;
    top: -10px;
    z-index: 100; }
  header nav {
    float: right;
    padding: 37px 0; }
    header nav ul {
      list-style: none; }
      header nav ul li {
        margin: 0 100px 0 0; }
        @media (max-width: 1024px) {
          header nav ul li {
            float: none; } }
        @media (min-width: 1025px) {
          header nav ul li {
            float: left; } }
        header nav ul li a {
          color: rgba(0, 0, 0, 0.57);
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none; }
        header nav ul li .claims-trac-link {
          color: #0050A1; }
          header nav ul li .claims-trac-link img {
            width: 6px;
            display: inline-block;
            margin-left: 10px; }
      header nav ul li:last-child {
        margin-right: 0; }

.page-header {
  width: 100%;
  background-color: #0050A1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .page-header h1 {
    margin: 0;
    padding: 28px 0; }
  .page-header .left-fade {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(269deg, rgba(0, 80, 161, 0.1) 0%, rgba(0, 80, 161, 0.5) 18%, #0050A1 100%); }
  .page-header .right-fade {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-image: linear-gradient(-269deg, rgba(0, 80, 161, 0.1) 0%, rgba(0, 80, 161, 0.5) 18%, #0050A1 100%); }

.services-header {
  background-image: url(../images/nationwide.jpg); }

.about-header {
  background-image: url(../images/our-team.jpg); }

.contact-header {
  background-image: url(../images/puzzle.jpg); }

footer {
  padding: 50px 0; }
  footer p {
    font-size: 12px;
    margin: 0;
    display: inline-block; }
  footer a, footer p {
    margin-right: 20px;
    font-weight: 400; }

body {
  background-color: #FFFFFF; }

ul {
  list-style: none; }
  ul li {
    color: rgba(0, 0, 0, 0.57);
    line-height: 18px; }

form input[type="submit"].button-primary {
  padding: 25px 30px;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
  background-color: #37B24A;
  margin-left: 20px;
  line-height: 0;
  text-transform: none;
  font-family: Montserrat, Arial, sans-serif;
  margin: 0;
  border: none;
  border-radius: 0;
  height: inherit; }
form input[type="submit"].button-primary:hover {
  background-color: #37B24A;
  text-decoration: underline; }

article {
  padding-top: 50px;
  padding-bottom: 50px; }
  article p {
    margin-bottom: 20px; }
  article p:last-child {
    margin-bottom: 0; }

section {
  padding-top: 50px;
  padding-bottom: 50px; }
  section h2 {
    text-align: center;
    margin-bottom: 50px; }
  section .container {
    /* max-width: 780px; */
    margin: 0 auto; }
    section .container .twelve {
      margin-bottom: 40px; }
      section .container .twelve p {
        margin-bottom: 20px; }
      section .container .twelve p:last-child {
        margin-bottom: 0; }

section:nth-child(even) {
  background-color: #F4F4F4;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC; }

.section-nav {
  list-style: none; }
  .section-nav a {
    text-decoration: none;
    font-size: 16px; }

.card {
  padding: 30px;
  background-color: #ffffff;
  position: relative;
  bottom: 150px;
  min-height: 220px; }
  .card img {
    width: 25%;
    float: left;
    margin-right: 30px; }
  .card p {
    font-size: 12px; }
  .card a {
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase; }
    .card a img {
      width: 6px;
      display: inline-block;
      margin-left: 10px;
      float: none; }
  .card .right {
    width: 66%; }

.right {
  float: right; }

.callout {
  width: 100%;
  background-color: #0050A1;
  padding: 20px 0; }
  .callout h3 {
    color: #FFFFFF;
    display: inline-block;
    margin: 0;
    position: relative;
    top: 14px;
    float: left; }
  .callout a {
    float: right;
    padding: 15px 20px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    background-color: #37B24A;
    margin-left: 20px;
    text-decoration: none; }
  .callout a:hover {
    text-decoration: underline; }

.cd-hero {
  position: relative; }
  .cd-hero .left-fade {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(269deg, rgba(0, 80, 161, 0) 0%, rgba(0, 80, 161, 0.25) 18%, #0050A1 100%);
    z-index: 10; }
  .cd-hero .right-fade {
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    right: 0;
    background-image: linear-gradient(-269deg, rgba(0, 80, 161, 0) 0%, rgba(0, 80, 161, 0.1) 18%, #0050A1 100%); }
  .cd-hero .row {
    text-align: left; }
    .cd-hero .row h2 {
      width: 100%;
      text-align: left;
      max-width: none;
      font-size: 37px;
      text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.8); }

/*# sourceMappingURL=main.css.map */
